<% if post.user %>
  <div class="info">
    <h4 class="text-left">Autor: <%= post.user.name %></h4>
    <p class="text-left">Post name: <%= post.name %></p>
    <p class="text-right">Category: <%= post.category.name %></p>
    <p class="text-right"><%= post.date %></p>
  </div>
  <div class="content">
    <% if post.file.url.present? %>
      <div class="file">
        <%= image_tag post.file.url, class: 'file' %>
      </div>
      <hr>
      <% if button == true %>
        <p class="text-left"><%= truncate(post.content, length: 500, separator: ' ') %></p>
        <%= link_to 'Read more...', post_path(post) if post.content.length > 500 %>
        <% else %>
          <p class="text-left"><%= post.content %></p>
        <% end %>
      <hr>
    <% end %>
    <div class="text-left">
      <span class="like-count"><%= pluralize(post.cached_votes_up, 'like') %></span>
      <div class="pull-right">
        <% if belongs_to_user?(post) %>
          <%= link_to edit_post_path(post), class: 'btn btn-primary btn-sm' do %>
            <% fa_icon 'pencil' %>
          <% end %>
          <%= link_to post_path(post), method: :delete, class:'btn btn-danger btn-sm', remote: remote do %>
            <% fa_icon 'trash' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <% if user_signed_in? %>
    <div class="actions">
      <div class="row">
        <br>
        <div class="col-xs-12 like">
          <%= render 'likes/form', likeable: post %>
        </div>
        <%= render 'comments/button', post: post if button == true %>
      </div>
    </div>
   <% else %>
    <p class="text-primary">Please Login to post a comments and likes</p>
    <%= render 'comments/button', post: post if button == true %>
  <% end %>
<% end %>
