<h1>All Posts</h1>
<p class="text-left">
  <a href="<%= new_post_path %>"><button type="button" class="btn btn-primary">New Post</button></a>
</p>
<br><br>
<%= render 'shared/categories_list', categories: @categories, resource: false %>
<% if @posts.present? %>
  <%= will_paginate @posts %>
  <% @posts.each do |post| %>
    <div id="post-<%= post.id %>" class="post">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 well">
          <%= render post, button: true, remote: false %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="post"><%= will_paginate @posts %></div>
<% else %>
  <%= render('shared/no_resource', resources: 'Posts') %>
<% end %>
