<%= render 'shared/categories_list', categories: @categories, resource: @post.category %>
<% if @post.user %>
  <div id="post-<%= @post.id %>" class="post">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 well">
        <%= render @post, button: false, remote: false %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 well">
        <h4>Comments</h4>
        <hr>
        <%= render 'comments/form', commentable: @post %>
        <br>
        <div class="comments">
          <%= render(@comments) || render('shared/no_resource', resources: 'Comments') %>
        </div>
      </div>
    </div>
  </div>
<% end %>
