<h1>Category: <%= @category.name %></h1><br>
<%= form_tag comments_category_path(@category), method: :get do %>
  <%= button_tag class: 'btn btn-primary' do %>
    <%= fa_icon 'comments' %> Show category comments (<%= @category.comments.count %>)
  <% end %>
<% end %><hr>
<%= render 'shared/categories_list', categories: @categories, resource: @category %>
<% if @posts.present? %>
  <% @posts.each do |post| %>
    <div class="post"><%= will_paginate @posts %></div>
  <div id="post-<%= post.id %>" class="post">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 well">
        <%= render post, button: true, remote: false %>
      </div>
    </div>
  </div>
    <% end %>
  <div class="post"><%= will_paginate @posts %></div>
<% else %>
  <%= render('shared/no_resource', resources: 'Posts') %>
<% end %>
