<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <ul class="menu">
    <li class="menu"><a href="<%= root_path %>"><strong style="color: #FFFFFF">#Blog</strong></a></li>
    <li class="menu"><a href="<%= new_post_path %>"><strong>New post</strong></a></li>
    <li class="menu"><a href="<%= posts_path %>"><strong>All posts</strong></a></li>
    <li class="menu"><a href="<%= categories_path %>"><strong>Categories</strong></a></li>
    <% if user_signed_in? %>
      <li  class="menu" style="float:right"><a data-method="delete" class="active" href="<%= destroy_user_session_path %>">Logout</a></li>
      <li  class="menu" style="float:right"><a class="active" href="<%= edit_user_registration_path %>"><%= current_user.email %> settings</a></li>
    <% else %>
      <li  class="menu" style="float:right"><a class="active" href="<%= new_user_session_path %>">Login</a></li>
      <li  class="menu" style="float:right"><a class="active" href="<%= new_user_registration_path %>">Sign up</a></li>
    <% end %>
  </ul>
  <div id="container" class='paper center-block'>

    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, id: "flash_#{name}" %>
    <% end %>
    <%= yield %>

  </div>
  </body>
</html>
